.loader-container {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loader img {
    width: 100px;
    height: 100px; 
    margin-bottom: 10px;
  }
  
  .loading-text {
    font-size: 1.5rem;
    margin: 0;
    color: #ff6d38;
    font-family: 'Rubik', sans-serif;
  }
  